<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>聊天室</title>
</head>
<body>
    <div id="contents" style="height:500px;overflow:auto;"></div>
    <div>
        <textarea id="msg"></textarea>
        <a href="javascript:;" onclick="sendMsg()">发送</a><br>
        <p>
            {% module xsrf_form_html() %}
            <input type="button" value="获取位置信息" id="get_pos"/>
            <p id="pos"></p>
        </p>
    </div>
    <script src="{{static_url('jquery.min.js')}}"></script>
    <script type="text/javascript">
        var ws = new WebSocket("ws://192.168.142.1:8000/chat");
        ws.onmessage = function(e) {
            $("#contents").append("<p>" + e.data + "</p>");
        }
        function sendMsg() {
            var msg = $("#msg").val();
            ws.send(msg);
            $("#msg").val("");
        }
        function get_cookie(name){
            var r = document.cookie.match('\\b'+name+'=([^;]*)\\b');
            return r ? r[1]:''
        }
        $(function () {
            $("#get_pos").click(function(){
                var xsrf = get_cookie('_xsrf')
                console.log(xsrf)
                $.ajax({
                    url:'/getpos',
                    data:{},
                    type:"post",
                    dataType:'json',
                    header:{
                        'X-XSRFToken':xsrf
                    },
                    async:true,
                    success:function(res){
                        $("#pos").text(res.data);
                    },
                    error:function(ret){
                        console.log(ret);
                    }
                })
            })
        })
    </script>
</body>
</html>